div{
    background-color: cadetblue;
    border-color:5px solid cornflowerblue;
    border-radius: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}